pkgbase = linear-bin
	pkgdesc = Linear - Issue tracking & project management (unofficial Linux build)
	pkgver = 1.32.4
	pkgrel = 1
	url = https://linear.app
	arch = x86_64
	license = LicenseRef-Proprietary
	makedepends = p7zip
	makedepends = imagemagick
	makedepends = icoutils
	makedepends = python
	depends = electron
	provides = linear
	conflicts = linear-desktop
	conflicts = linear-desktop-bin
	conflicts = linear-desktop-git
	source = Linear-Setup-1.32.4.exe::https://releases.linear.app/Linear%20Setup%201.32.4.exe
	source = patch-main.py::https://raw.githubusercontent.com/shrimpwtf/linear-arch/main/patch-main.py
	sha512sums = 7e24300ab6d7c7514a9cf41cd050493ae6bd983bda20963aac6672f93a972b0248290cef4bebae3e0d618cff9d4a868c43557337d2cdfabb8662e758edf7a6f5
	sha512sums = SKIP

pkgname = linear-bin
