pkgbase = linear-bin
	pkgdesc = Linear - Issue tracking & project management (unofficial Linux build)
	pkgver = 1.31.1
	pkgrel = 1
	url = https://linear.app
	arch = x86_64
	license = LicenseRef-Proprietary
	makedepends = p7zip
	makedepends = imagemagick
	makedepends = icoutils
	makedepends = python
	depends = electron
	provides = linear
	conflicts = linear-desktop
	conflicts = linear-desktop-bin
	conflicts = linear-desktop-git
	source = Linear-Setup-1.31.1.exe::https://releases.linear.app/Linear%20Setup%201.31.1.exe
	source = patch-main.py::https://raw.githubusercontent.com/shrimpwtf/linear-arch/main/patch-main.py
	sha512sums = d1d0d588ed44e2eb0c7444dacf0f704ebd7a298a96fc65e8739174ab45e71419f6aa44a0763110c003036a3f079a52ed2f98b1e0a073b4efd83ed22f15854b2c
	sha512sums = SKIP

pkgname = linear-bin
